{% extends  'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="text-center col-md-8 col-md-offset-2">
        <h3>Enter your email address so we can send you istructions on how to change password </h3></div>
    </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.email) }}
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    {{ form_widget(form.email) }}
                </div>
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login button">Send</button>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}